 .page-background {
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tile-container {
    display: flex;
    justify-content: space-between;
    margin: 50px auto; /* Adjust for responsive centering */
    padding: 20px;
    max-width: 1200px; /* Set max-width for better layout control */
    gap: 150px; 
    flex-wrap: wrap; /* Make the tiles wrap on smaller screens */
}

.tile {
    width: 30%;
    min-width: 250px; /* Ensures tiles don't become too small */
    height: 150px;
    padding: 40px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tile:hover {
    color: white;
    transform: scale(1.05); 
}

.tile-content h2 {
    margin-bottom: 15px;
    font-size: 24px;
}

.tile-content p {
    font-size: 16px;
}

@media (max-width: 768px) {
    .tile-container {
        flex-direction: column; /* Stack tiles vertically on smaller screens */
        align-items: center;
    }

    .tile {
        width: 80%; /* Make tiles take up more space on mobile */
        margin-bottom: 20px; /* Add space between tiles */
    }
}
